html{
    width: 100%;
    height:100% ;
    background-image: url('https://helios-i.mashable.com/imagery/articles/03gFChrj20r6SBUMmsUvVkf/hero-image.fill.size_1248x702.v1623387390.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center ; 

}

body{
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
    cursor: pointer;
}

header{
    width: 100%;
    height: 60px;
    backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, 0.137);
    box-shadow: 0px 1px 5px black;
}
header nav{
    display: flex;
    justify-content: flex-end;
}
header nav .nav-right-section{
    width: auto;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center; 
    list-style: none;
    padding-left: 0;
}
nav .nav-right-section a{
    margin-right: 10px;
    /* color: #ffffff; */
    font-size: 14px;
    font-weight: bold;
    color: #fff;
	margin-top: 30%;
	text-shadow:
		0 0 5px rgb(251, 212, 37),
		0 0 10px rgb(255, 230, 0),
		0 0 20px rgb(255, 217, 0),
		0 0 40px rgb(255, 196, 2),
		0 0 80px rgb(253, 143, 0),
		0 0 90px rgb(255, 136, 0),
		0 0 100px rgb(255, 115, 0),
		0 0 140px rgb(255, 72, 0),
		0 0 180px rgb(243, 57, 0);
}
nav .nav-right-section li:hover a{
    color: red;
}
nav .nav-right-section .menu-icon{
    background-image: url('https://cdn2.iconfinder.com/data/icons/mobile-ui-flat-line/70/apps-512.png');
    background-repeat: no-repeat;
    background-position:center ;
    background-size: contain;
    width: 27px;
    height: 27px;
    cursor: pointer;
}
nav .nav-right-section img{
    border-radius: 50%;
    margin-left: 10px;
}
main{
    width: 100%;
    margin-top: 100px;
    text-align: center;
}

main .main-logo{
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;
}
main .main-logo img{
    width:  300px;
}
main .main-input{
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;
}

main .main-input-container{
    width: 525px;
    border-radius: 100px;
    border: 1px #dfe1e5 solid;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(2px);
    box-shadow: 1px 1px 6px 6px #20212447;
    border-color: #dfe1e500;
}
main .main-input-container input{
    width: 450px;
    height: 40px;
    outline: none;
    border: none ;
    background-color: transparent;
    font-size: 19px;
    color: black;
    font-weight: bold;
}
main .main-input-container:hover{
    box-shadow: 4px 4px 12px 12px #1e1e2047;
    border-color: #dfe1e500;
}
main .main-input .search-icon{
    background-image: url('https://www.nicepng.com/png/full/236-2367204_mystic-pokemon-icon-pokemon-icon.png');
    background-repeat: no-repeat;
    background-position: center ;
    background-size: contain;
    width: 18px;
    height: 18px;
    z-index: 2;
}
main .main-input .micro-icon{
    background-image: url('https://seeklogo.com/images/G/google-mic-logo-EF440C9A6F-seeklogo.com.png');
    background-repeat: no-repeat;
    background-position: center ;
    background-size: contain;
    width: 18px;
    height: 18px;
    cursor: pointer;
    z-index: 2;
}
main .main-buttons{
    width: 530px;
    margin: 0 auto;
}
main .main-buttons div {
    display: inline-block;

}
main .main-buttons button, main .main-buttons input{
    height: 36px;
    background-color: rgb(238, 234, 2);
    border: 0;
    font-size: 14px;
    color: #050774;
    border-radius: 1px;
    padding: 0 15px;
    margin-right: 15px;
    cursor: pointer;
}
main .main-buttons button:hover, main .main-buttons input:hover{
    border: 1px solid rgb(240, 143, 16);
    box-shadow: 0 1px 1px rgb(255, 136, 0);
    color: #020350;
    font-weight: bold;
}

footer{
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    font-size: 13px;
    background-color: rgba(0, 0, 0, 0.219);
    /* border-top: 1px solid rgb(138, 137, 137); */
    box-shadow: 0 0 5px 1px rgb(37, 35, 35);
    backdrop-filter: blur(4px);
}
footer ul{
    margin: 10px;
    list-style: none;
    display: flex;
    padding-left: 0;
    /* justify-content: space-around; */
}
footer .footer-left{
    justify-self: left;
}
footer .footer-left a:hover, footer .footer-right a:hover{
    text-decoration: underline;
}
footer .footer-right{
    justify-self: right;
}
footer ul li a{
    margin: 10px;
    color: #fff;
    font-weight: bold;
    text-align: justify;
}

@media(max-width: 600px){
    header{
        width: 600px;
    }
    header nav{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    header nav .nav-right-section{
        padding-left: 10px;
    }
    main{
        width: 600px;
        display: flex;
        /* height: 700px; */
        justify-content: center;
        flex-direction: column;
        margin-bottom: 10px;
    }
    footer{
        width: 600px;
        height: auto;
        display: flex;
        flex-direction: column;
        /* position: none; */
    }   
}

